@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}
html
{
  font-family: 'Inter', sans-serif;
}

.menuHidden {
  margin-top: -450px;
  transition: margin 300ms ease-in-out;
}

.menuShown {
  margin-top: 0px;
  transition: margin 300ms ease-in-out;
}
